<section class="section">
    <p>Search for Reviews</p>
    <form action="/yelp" method="POST">
            <label>Business Name:
                <input type="text" name="name">
            </label>
            <!-- <label>Review:
                <input type="text" name="review">
            </label> -->
        <div class="button">
            <button id="reviewbutton" type="submit">Search me hard</button>
        </div>
    </form>
</section>

<section class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Businesses</td>
            </tr>
        </thead>
        ${reviewList.map(top =>
                `<tr>
                    <td>${top.business}</td>
                </tr>`
            ).join('')}
    </table>
</section>

<section class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Reviews</td>
            </tr>
        </thead>
        ${reviewList.map(top =>
                `<tr>
                    <td><a href=/yelp/${top.review}>${top.review}</a></td>
                </tr>`
            ).join('')}
    </table>
</section>

<section class="section">
    <p>Add a Review</p>
    <form action="/yelp" method="POST">
            <!-- <label>Business Name:
                <input type="text" name="business">
            </label> -->
            <label>Review:
                <input type="text" name="review">
            </label>
        <div class="button">
            <button type="submit">Add Review</button>
        </div>
    </form>
</section>